/*
    File Name: style.css
    Description: Main stylesheet for website
    Author: Analia Mok
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3B3B3B;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    color: #111;
}

/* Global Classes to Apply Proper background colors */
.blue{ background-color: #18B1F9; }
.white{ background-color: #F2F2F2; }
.white-text{
    font-weight: 400;
    color: #F2F2F2;
}

main{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

/* Navlist to display at bottom of screen */
ul#navlist{
    display: block;
    margin: auto;
    position: fixed;
    bottom: 2rem;
    left: 36%
}
ul#navlist li{
    display: inline-block;
    margin: 0.25rem;
}
#navlist li a{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 3px solid #F2F2F2;
    background-color: transparent;
}
#navlist li:first-child a{
    /* First nav item is */
    background-color: #F2F2F2;
}

/* All section containers will be a flex */
section{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    /* Grow for outermost flexbox defined by main */
    flex: 1;
}

/* About and skills sections are displayed in columns */
.columns{
    flex-direction: column;
    flex-wrap: wrap;
}

/* Full-screen landing */
section#landing{
    width: 100%;
    height: 100vh;
    /* padding: 1rem; */
    background-color: #2B2B2B;
}

section#landing img{
    width: 60%;
    position: absolute;
    z-index: 0;
}

/* Container for "columns" */
section#landing > div{
    display: inline-block;
    max-width: 100%;
    z-index: 10;
    color: #F2F2F2;
    font-size: 1rem;
}
section#landing div div{
    display: inline-block;
    padding: 2rem 1rem;
    vertical-align: middle;
    font-size: 3rem;
}
section#landing div div:first-child{
    border-right: 3px solid #F2F2F2;
}
section#landing p{
    color: #F2F2F2;
    font-family: 'Lato', sans-serif;
}
div#second-col p{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: #18B1F9;
}
div#second-col p:first-child{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #F2F2F2;
}

/* About and Skills sections */
section#about .left-col{
    /* Order of columns with respect to outer section */
    order: 2;
    text-align: center;
}
.left-col img{
    display: inline-block;
    width: 50%;
}
.left-col p{
    display: block;
    margin-top: 1rem;
    text-align: center;
}

section#skills .left-col h2{
    font-size: 3rem;
    color: #2D9CDB;
}
section#skills .left-col h3{
    margin: 2rem 0 0.5rem 0;
    font-size: 1.5rem;
    color: #2D9CDB;
}
section#skills .left-col p{
    margin-top: 0;
    color: #2D9CDB;
}
section#skills .right-col{
    font-size: 1.25rem;
    text-align: center;
}
section#skills .right-col h3{
    font-size: 1.75rem;
}
section#skills .right-col ul{
    display: block;
    margin: 0.5rem 0 1rem 0;
    list-style: none;
    padding: 0;
}
div#circle{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #F2F2F2;
}

/* Left and right columns */
.columns > div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 2.5rem;

    /* Add extra padding on bottom for navbar */
    padding-bottom: 3rem;
}
.columns div div:first-child{
    margin-bottom: 2rem;
}
.columns h2{
    text-align: center;
}

/* Projects Section */
section#project{
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
}
section#project > div{
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    width: 80%;
    /* margin: 0.5rem 0; */
}
#project > div div,
#project > div div.card-container{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5rem;;
    /* margin-bottom: 0.75rem; */
    /* Individual Project Items */
    flex: 1;

    background-color: #E0E0E0;
    text-align: center;

    cursor: pointer;
    overflow: hidden;

}
section#project span{
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    color: #FAFAFA;
}

/* Card Properties */
#project > div div.card-container{
    height: 100%;
    margin: 0;
    padding: 0;
}
.card-container > div{
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transition: transform 0.75s;
    -moz-transition: transform 0.75s;
    -o-transition: transform 0.75s;
    transition: transform 0.75s;
}
.card-container:hover > div{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
.card-container > div::before{
    /* Image Overlay */
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.16);
}
/* .card-container > div#grader-app::before{
    background-color: rgba(46, 204, 113, 0.5);
} */
.card-container > div#clock-app::before{
    background-color: rgba(41, 128, 185, 0.5);
}
.card-container > div span{
    position: absolute;
    z-index: 5;
}

/* Project Item Backgrounds */
#grader-app{
    background: url("../images/grader-app.png");
    background-repeat: no-repeat;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#clock-app{
    background: url("../images/clock.png");
    background-repeat: no-repeat;
    background-position: center;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
#college-search{
    background: url("../images/collegesearch_thumb.PNG");
    background-repeat: no-repeat;
    background-position: 50% 0%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#terminal{
    background: url("../images/terminal-app.png");
    background-repeat: no-repeat;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Contacts Section */
section#contact{
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #2B2B2B;
    text-align: center;
}
#contact p{
    margin-bottom: 1rem;
    font-weight: 300;
    /* font-size: 1.75rem; */
    font-size: 1.5rem;
    color: #F2F2F2;
}
#contact span{
    margin: 0 1rem;
    font-size: 3rem;
    color: #E0E0E0;
}


footer{
    padding: 0.5rem;
    text-align: center;
    background-color: #333;
}
footer span{
    color: #F2F2F2;
    font-family: 'Lato', sans-serif;
}


/* Phone Orientation - Landscape */
@media only screen
    and (max-width: 768px)
    and (orientation: landscape){

} /* End of phone landscape mode */

/* Tablets and Larger */
@media only screen and (min-width: 768px){

    /* Navigation - Display to right */
    ul#navlist{
        top: 40vh;
        right: 1rem;
        bottom: initial;
        left: initial;
    }
    ul#navlist li{
        display: block;
        margin: 0.75rem 0;
    }

    /* Landing Page */
    section#landing img{
        width: 50%;
    }
    section#landing p{
        font-size: 4rem;
    }
    div#second-col p{
        font-size: 1rem;
    }
    div#second-col p:first-child{
        font-size: 4rem;
    }

    /* About and Skills Section */
    .columns{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .columns > div{
        /* width: 50%; */
        height: 100vh;
        /* flex-grow: 1; */
    }
    .columns p{
        font-size: 1rem;
    }
    section#about .left-col{
        flex-grow: 1;
        order: 0;
    }
    section#about .right-col{
        flex-grow: 2;
    }
    .left-col img{
        width: 55%;
    }
    .columns h2{
        text-align: left;
    }

    /* Skills right column inner columns */
    section#skills .right-col{
        text-align: left;
        font-size: 1.1rem;
    }
    section#skills div.right-col div:first-child{
        display: -webkit-flex;
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;
    }
    section#skills div.right-col div{
        width: 90%;;
    }
    section#skills div.right-col div#circle{
        width: 1rem;
    }
    section#skills .right-col div:first-child div{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;

        /* width: 50%; */
        flex: 1;

        text-align: left;
    }
    .right-col div:first-child div:first-child{
        /* Left Inner Column of right column skills sections */
        margin-right: 1rem;
    }
    section#skills .right-col div:first-child div h3{
        display: block;
        margin: 0;
        font-size: 1.5rem;
        color: #111;
    }
    section#skills p{
        font-size: 1.1rem;
    }

    /* Projects Section */
    section#project{
        height: 100vh;
    }
    section#project > div{
        margin: 0.5rem 0;
        flex-direction: row;
    }
    section#project > div div{
        height: 10rem;
        /* margin: 0 0.5rem; */
        /* padding: 0.25rem; */
    }
    #project > div div.card-container{
        margin: 0 0.5rem;
    }

} /* End of Tablets and Larger */

/* Desktop Screen */
@media only screen and (min-width: 1024px){
    section#landing img{
        width: 30%;
    }
    section#landing p{
        font-size: 4.5rem;
    }
    div#second-col p{
        font-size: 1.25rem;
    }
    div#second-col p:first-child{
        font-size: 4.5rem;
    }

    /* About and Skills Section */
    .left-col img{
        width: 40%;
    }

    /* Contact Section */
    section#contact p{
        font-size: 1.75rem;
    }

} /* End of Tablets and Larger */
